body {
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial, sans-serif';
}

.sidebar {
    font-size: 95%;
}

.meu-botao {
    color: white !important;
    cursor: pointer;
    width: 100%;
}
